In [2]:
%matplotlib inline
import numpy as np
import pandas as pnd
import matplotlib as plt
import seaborn as sns; sns.set()

sns.set(style="darkgrid")

Data Set 1 Link: https://data.ny.gov/Government-Finance/Total-Income-And-Tax-Liability-By-Place-Of-Residen/nacg-rg66

In [3]:
df1 = pnd.read_csv("NYTaxes.csv")
display(df1)

,Tax Year,Resident Type,Place of Residence,Country,State,County,Disclosure,Number of All Returns,NY AGI of All Returns (in thousands) *,Tax Liability of All Returns (in thousands) **,...,Tax Liability of Taxable Returns (in thousands) **,Number of Nontaxable Returns,NY AGI of Nontaxable Returns (in thousands) *,Tax Liability of Nontaxable Returns (in thousands) **,Average NY AGI of All Returns,Average Tax of All Returns,Average NY AGI of Taxable Returns,Average Tax of Taxable Returns,Average NY AGI of Nontaxable Returns,County Sort Order
0,2011,Full-Year Resident,New York City - Bronx,United States,New York,Bronx,NaN,"588,674","17,626,369","433,593",...,"598,802","288,854","2,906,845","-165,209","29,942",737,"49,095","1,997","10,063",1
1,2011,Full-Year Resident,New York City - Kings,United States,New York,Kings,NaN,"1,078,520","48,145,626","1,989,456",...,"2,239,988","442,320","3,841,481","-250,532","44,640","1,845","69,639","3,521","8,685",2
2,2011,Full-Year Resident,New York City - Manhattan,United States,New York,Manhattan,NaN,"808,917","129,181,676","9,465,286",...,"9,552,543","233,305","-3,220,186","-87,257","159,697","11,701","230,019","16,595","-13,802",3
3,2011,Full-Year Resident,New York City - Queens,United States,New York,Queens,NaN,"1,028,443","41,248,512","1,512,781",...,"1,694,491","401,167","3,726,818","-181,709","40,108","1,471","59,817","2,701","9,290",4
4,2011,Full-Year Resident,New York City - Richmond,United States,New York,Richmond,NaN,"204,587","11,442,144","494,959",...,"518,404","63,647","440,492","-23,445","55,928","2,419","78,059","3,678","6,921",5
5,2011,Full-Year Resident,"Total, New York City",United States,New York,"Total, New York City",NaN,"3,709,141","247,644,328","13,896,076",...,"14,604,228","1,429,293","7,695,450","-708,153","66,766","3,746","105,248","6,406","5,384",6
6,2011,Full-Year Resident,Albany,United States,New York,Albany,NaN,"140,676","7,677,295","368,534",...,"385,117","42,477","315,183","-16,584","54,574","2,620","74,971","3,922","7,420",7
7,2011,Full-Year Resident,Allegany,United States,New York,Allegany,NaN,"18,197","663,809","21,063",...,"24,125","7,048","69,387","-3,062","36,479","1,157","53,316","2,164","9,845",8
8,2011,Full-Year Resident,Broome,United States,New York,Broome,NaN,"88,141","3,625,446","136,304",...,"155,152","30,957","244,546","-18,849","41,132","1,546","59,123","2,713","7,900",9
9,2011,Full-Year Resident,Cattaraugus,United States,New York,Cattaraugus,NaN,"33,328","1,188,768","37,752",...,"43,722","12,691","117,077","-5,970","35,669","1,133","51,931","2,119","9,225",10
10,2011,Full-Year Resident,Cayuga,United States,New York,Cayuga,NaN,"33,148","1,345,517","49,053",...,"54,581","11,144","102,974","-5,528","40,591","1,480","56,469","2,481","9,240",11
11,2011,Full-Year Resident,Chautauqua,United States,New York,Chautauqua,NaN,"55,771","1,994,202","63,104",...,"73,047","21,534","204,520","-9,943","35,757","1,131","52,273","2,134","9,498",12
12,2011,Full-Year Resident,Chemung,United States,New York,Chemung,NaN,"38,365","1,658,058","63,999",...,"69,932","13,724","134,959","-5,934","43,218","1,668","61,812","2,838","9,834",13
13,2011,Full-Year Resident,Chenango,United States,New York,Chenango,NaN,"22,054","780,744","25,072",...,"28,850","8,197","74,964","-3,778","35,401","1,137","50,933","2,082","9,145",14
14,2011,Full-Year Resident,Clinton,United States,New York,Clinton,NaN,"35,374","1,424,591","53,186",...,"57,550","11,762","96,808","-4,364","40,272","1,504","56,233","2,437","8,231",15
15,2011,Full-Year Resident,Columbia,United States,New York,Columbia,NaN,"27,717","1,300,932","59,615",...,"62,837","9,383",-874,"-3,222","46,936","2,151","71,005","3,427",-93,16
16,2011,Full-Year Resident,Cortland,United States,New York,Cortland,NaN,"19,968","784,000","26,933",...,"30,486","6,699","66,119","-3,553","39,263","1,349","54,102","2,298","9,870",17
17,2011,Full-Year Resident,Delaware,United States,New York,Delaware,NaN,"18,407","657,108","22,405",...,"25,207","7,319","54,912","-2,802","35,699","1,217","54,311","2,273","7,503",18
18,2011,Full-Year Resident,Dutchess,United States,New York,Dutchess,NaN,"131,048","7,905,657","368,085",...,"380,101","36,930","253,114","-12,017","60,326","2,809","81,308","4,039","6,854",19
19,2011,Full-Year Resident,Erie,United States,New York,Erie,NaN,"419,875","20,284,106","898,447",...,"953,392","133,236","1,111,857","-54,946","48,310","2,140","66,886","3,326","8,345",20
20,2011,Full-Year Resident,Essex,United States,New York,Essex,NaN,"16,221","624,430","23,951",...,"26,101","5,874","30,099","-2,150","38,495","1,477","57,440","2,523","5,124",21
21,2011,Full-Year Resident,Franklin,United States,New York,Franklin,NaN,"19,232","677,948","22,435",...,"26,041","7,278","56,801","-3,606","35,251","1,167","51,961","2,178","7,805",22
22,2011,Full-Year Resident,Fulton,United States,New York,Fulton,NaN,"22,897","834,318","27,299",...,"31,224","8,291","80,904","-3,925","36,438","1,192","51,583","2,138","9,758",23
23,2011,Full-Year Resident,Genesee,United States,New York,Genesee,NaN,"27,555","1,240,365","52,813",...,"56,554","8,858","74,849","-3,740","45,014","1,917","62,337","3,025","8,450",24
24,2011,Full-Year Resident,Greene,United States,New York,Greene,NaN,"21,309","969,966","42,969",...,"45,193","7,304","49,026","-2,223","45,519","2,016","65,758","3,227","6,712",25
25,2011,Full-Year Resident,Hamilton,United States,New York,Hamilton,NaN,"2,339","83,925","3,177",...,"3,385",927,"5,492",-208,"35,881","1,358","55,548","2,397","5,925",26
26,2011,Full-Year Resident,Herkimer,United States,New York,Herkimer,NaN,"27,228","975,416","31,133",...,"35,857","9,609","89,387","-4,724","35,824","1,143","50,288","2,035","9,302",27
27,2011,Full-Year Resident,Jefferson,United States,New York,Jefferson,NaN,"41,472","1,587,502","56,320",...,"63,552","14,787","122,527","-7,232","38,279","1,358","54,899","2,382","8,286",28
28,2011,Full-Year Resident,Lewis,United States,New York,Lewis,NaN,"10,182","382,310","12,070",...,"14,002","3,610","37,631","-1,932","37,548","1,185","52,447","2,131","10,424",29
29,2011,Full-Year Resident,Livingston,United States,New York,Livingston,NaN,"26,917","1,140,729","42,535",...,"46,234","8,544","78,428","-3,698","42,379","1,580","57,819","2,516","9,179",30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834,2014,Full-Year Nonresident,South Carolina,United States,South Carolina,All,NaN,"5,117","2,447,996.70","17,681.10",...,"18,036.27","1,850","892,634.14",-355.169,"478,405","3,455","476,083","5,521","482,505",139
1835,2014,Full-Year Nonresident,South Dakota,United States,South Dakota,All,NaN,233,"450,380.22",505.452,...,505.452,84,"85,401.56",0,"1,932,962","2,169","2,449,521","3,392","1,016,685",140
1836,2014,Full-Year Nonresident,Tennessee,United States,Tennessee,All,NaN,"3,544","4,401,231.95","10,577.03",...,"10,577.43","1,062","2,282,922.12",-0.404,"1,241,883","2,984","853,469","4,262","2,149,644",141
1837,2014,Full-Year Nonresident,Texas,United States,Texas,All,NaN,"15,033","20,198,064.27","64,705.55",...,"64,816.51","3,784","4,968,060.32",-110.96,"1,343,582","4,304","1,353,898","5,762","1,312,912",142
1838,2014,Full-Year Nonresident,Utah,United States,Utah,All,NaN,"1,492","1,309,805.76","6,030.43",...,"6,072.47",438,"223,785.27",-42.034,"877,886","4,042","1,030,380","5,761","510,925",143
1839,2014,Full-Year Nonresident,Vermont,United States,Vermont,All,NaN,"5,631","888,577.31","14,712.39",...,"14,742.32","1,112","121,100.61",-29.926,"157,801","2,613","169,833","3,262","108,903",144
1840,2014,Full-Year Nonresident,Virginia,United States,Virginia,All,NaN,"14,118","8,698,142.09","63,068.91",...,"63,142.08","3,962","949,851.81",-73.165,"616,103","4,467","762,927","6,217","239,740",145
1841,2014,Full-Year Nonresident,Washington,United States,Washington,All,NaN,"4,448","8,769,341.08","10,984.32",...,"11,002.83","1,436","1,944,754.52",-18.508,"1,971,525","2,469","2,265,799","3,653","1,354,286",146
1842,2014,Full-Year Nonresident,West Virginia,United States,West Virginia,All,NaN,574,"126,563.23",641.453,...,644.075,160,"20,164.02",-2.622,"220,493","1,118","257,003","1,556","126,025",147
1843,2014,Full-Year Nonresident,Wisconsin,United States,Wisconsin,All,NaN,"2,418","1,798,760.31","7,659.86",...,"7,664.45",437,"100,786.98",-4.593,"743,904","3,168","857,129","3,869","230,634",148
1844,2014,Full-Year Nonresident,Wyoming,United States,Wyoming,All,NaN,346,"1,917,637.93","2,733.26",...,"2,733.26",115,"159,646.13",0,"5,542,306","7,900","7,610,354","11,832","1,388,227",149
1845,2014,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,NaN,"1,832","48,856.39",389.177,...,390.847,"1,455","27,087.88",-1.67,"26,668",212,"57,741","1,037","18,617",150
1846,2014,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,NaN,"3,893","913,171.79","16,541.41",...,"16,555.10",918,"34,779.01",-13.682,"234,568","4,249","295,258","5,565","37,886",200
1847,2014,Full-Year Nonresident,China,China,Not Applicable,Not Applicable,NaN,"3,340","1,068,039.46","10,670.98",...,"10,671.22","1,519","156,626.73",-0.235,"319,772","3,195","500,501","5,860","103,112",201
1848,2014,Full-Year Nonresident,France,France,Not Applicable,Not Applicable,NaN,"1,065","414,883.26","12,778.41",...,"12,781.01",382,"12,013.88",-2.6,"389,562","11,999","589,853","18,713","31,450",202
1849,2014,Full-Year Nonresident,Germany,Germany,Not Applicable,Not Applicable,NaN,"19,423","372,613.20","8,164.09",...,"8,164.33","16,882","71,568.18",-0.239,"19,184",420,"118,475","3,213","4,239",203
1850,2014,Full-Year Nonresident,India,India,Not Applicable,Not Applicable,NaN,"1,945","170,718.93","2,262.47",...,"2,262.47",755,"19,710.76",0,"87,773","1,163","126,898","1,901","26,107",204
1851,2014,Full-Year Nonresident,Ireland,Ireland,Not Applicable,Not Applicable,NaN,971,"48,950.89","1,326.25",...,"1,326.25",717,"9,246.81",0,"50,413","1,366","156,315","5,221","12,897",205
1852,2014,Full-Year Nonresident,Israel,Israel,Not Applicable,Not Applicable,NaN,"1,650","273,693.56","6,888.35",...,"7,001.81",850,"12,944.03",-113.459,"165,875","4,175","325,937","8,752","15,228",206
1853,2014,Full-Year Nonresident,Italy,Italy,Not Applicable,Not Applicable,NaN,602,"61,745.12","2,211.83",...,"2,214.19",335,"-4,480.32",-2.353,"102,567","3,674","248,035","8,293","-13,374",207
1854,2014,Full-Year Nonresident,Japan,Japan,Not Applicable,Not Applicable,NaN,807,"300,549.55","7,598.88",...,"7,598.88",312,"9,350.96",0,"372,428","9,416","588,280","15,351","29,971",208
1855,2014,Full-Year Nonresident,Mexico,Mexico,Not Applicable,Not Applicable,NaN,246,"43,091.05","1,396.10",...,"1,396.10",83,"2,865.53",0,"175,167","5,675","246,782","8,565","34,524",209
1856,2014,Full-Year Nonresident,Puerto Rico,Puerto Rico,Not Applicable,Not Applicable,NaN,437,"58,345.74",653.633,...,653.633,203,"-21,544.65",0,"133,514","1,496","341,412","2,793","-106,131",210
1857,2014,Full-Year Nonresident,S. Korea,S. Korea,Not Applicable,Not Applicable,NaN,285,"55,712.45",919.731,...,919.731,132,"17,268.26",0,"195,482","3,227","251,269","6,011","130,820",211
1858,2014,Full-Year Nonresident,United Kingdom,United Kingdom,Not Applicable,Not Applicable,NaN,"4,405","3,805,779.05","64,284.57",...,"64,284.57","1,506","297,271.21",0,"863,968","14,594","1,210,248","22,175","197,391",212
1859,2014,Full-Year Nonresident,All Other Countries +++,All Other Countries +++,Not Applicable,Not Applicable,NaN,"8,439","1,916,423.99","33,462.99",...,"33,471.34","4,282","196,349.16",-8.355,"227,091","3,965","413,778","8,052","45,855",213
1860,2014,Full-Year Nonresident,Residence Unknown ++++,Residence Unknown ++++,Not Applicable,Not Applicable,NaN,"34,607","5,997,389.76","140,029.65",...,"141,002.23","12,501","638,330.35",-972.581,"173,300","4,046","242,426","6,378","51,062",214
1861,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident",NaN,"940,499","412,878,504.17","6,184,371.83",...,"6,204,904.23","180,302","65,475,315.90","-20,532.41","438,999","6,576","456,991","8,162","363,142",215
1862,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident",NaN,"250,589","22,380,662.63","715,805.23",...,"723,617.74","55,430","1,278,749.50","-7,812.51","89,312","2,856","108,127","3,708","23,070",250
1863,2014,"Grand Total, Total","Grand Total, Total",All,All,"Grand Total, Total",NaN,"10,273,274","1,108,918,638.75","41,911,952.53",...,"43,342,022.01","3,246,172","86,830,941.73","-1,430,069.49","107,942","4,080","145,449","6,168","26,749",299

In [5]:
df1.shape

(1864, 22)

In [4]:
df1.dtypes

Tax Year                                                   int64
Resident Type                                             object
Place of Residence                                        object
Country                                                   object
State                                                     object
County                                                    object
Disclosure                                               float64
Number of All Returns                                     object
NY AGI of All Returns (in thousands) *                    object
Tax Liability of All Returns (in thousands) **            object
Number of Taxable Returns                                 object
NY AGI of Taxable Returns (in thousands) *                object
Tax Liability of Taxable Returns (in thousands) **        object
Number of Nontaxable Returns                              object
NY AGI of Nontaxable Returns (in thousands) *             object
Tax Liability of Nontaxable Returns (in thousands) **     object
Average NY AGI of All Returns                             object
Average Tax of All Returns                                object
Average NY AGI of Taxable Returns                         object
Average Tax of Taxable Returns                            object
Average NY AGI of Nontaxable Returns                      object
County Sort Order                                          int64
dtype: object

In [6]:
df1.describe()

          Tax Year  Disclosure  County Sort Order
count  1864.000000         0.0        1864.000000
mean   2006.901288         NaN          82.333155
std       4.662860         NaN          64.878648
min    1999.000000         NaN           1.000000
25%    2003.000000         NaN          30.000000
50%    2007.000000         NaN          59.000000
75%    2011.000000         NaN         128.000000
max    2014.000000         NaN         299.000000

Data Set 2 Link: https://data.ny.gov/Government-Finance/Income-Tax-Components-by-Size-of-Income-by-Place-o/5bb2-yb85

In [8]:
df2 = pnd.read_csv("PersonalIncomeBrackets.csv")
df2

,Tax Year,Resident Type,Place of Residence,Country,State,County,Income Class,Disclosure,Number of All Returns,NY AGI of All Returns (in thousands) *,Deductions of All Returns (in thousands),Dependent Exemptions of All Returns (in thousands),Taxable Income of All Returns (in thousands),Tax Before Credits of All Returns (in thousands),Tax Liability of All Returns (in thousands) **,Place of Residence Sort Order,Income Class Sort Order
0,2012,Full-Year Nonresident,Ireland,Ireland,Not Applicable,Not Applicable,"40,000 - 49,999",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205,6
1,2012,Full-Year Nonresident,Ireland,Ireland,Not Applicable,Not Applicable,"50,000 - 59,999",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205,7
2,2012,Full-Year Nonresident,Ireland,Ireland,Not Applicable,Not Applicable,"60,000 - 74,999",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205,8
3,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"Under 5,000",NaN,632,"-2,644.47",105.089,0,1.904,0.076,0.049,150,1
4,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"5,000 - 9,999",NaN,58,432.807,254.527,0,20.854,0.833,1.425,150,2
5,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"10,000 - 19,999",NaN,194,"3,036.93","1,231.65",35.233,661.395,27.214,23.048,150,3
6,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"20,000 - 29,999",NaN,299,"7,270.07","1,785.28",81,"2,359.97",105.395,85.225,150,4
7,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"30,000 - 39,999",NaN,178,"6,152.42","1,186.02",76,"1,917.60",87.272,56.488,150,5
8,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"40,000 - 49,999",NaN,84,"3,739.27",510,19,"1,193.84",57.203,28.098,150,6
9,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"50,000 - 59,999",NaN,73,"3,970.75",299.475,14,730.973,39.635,18.415,150,7
10,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"60,000 - 74,999",NaN,96,"6,458.87",509.217,44,"2,143.69",117.191,60.451,150,8
11,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"75,000 - 99,999",NaN,81,"6,862.51",251.298,10,"1,320.02",75.039,25.112,150,9
12,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"100,000 - 199,999",NaN,90,"12,201.63",523.287,42,"4,391.15",279.214,71.376,150,10
13,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"200,000 - 249,999",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,11
14,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"250,000 - 499,999",NaN,12,"3,595.86",220.128,10,"1,949.24",130.995,42.383,150,12
15,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,"500,000 and over",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150,13
16,2012,Full-Year Nonresident,A.P.O./F.P.O,A.P.O./F.P.O,All,All,Total,NaN,"1,810","66,076.30","7,029.80",345.233,"28,091.29","1,874.65",444.195,150,14
17,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"Under 5,000",NaN,515,"-9,068.19",488.399,0,5.056,0.203,-0.166,200,1
18,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"5,000 - 9,999",NaN,179,"1,323.11","1,116.54",3,120.241,4.817,2.409,200,2
19,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"10,000 - 19,999",NaN,328,"4,782.00","2,498.60",38.551,"2,028.95",82.73,60.124,200,3
20,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"20,000 - 29,999",NaN,253,"6,246.72","2,023.76",63,"3,876.60",179.61,140.297,200,4
21,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"30,000 - 39,999",NaN,256,"8,914.34","2,285.94",78.707,"6,302.78",322.665,247.466,200,5
22,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"40,000 - 49,999",NaN,195,"8,831.69","1,757.79",87.437,"6,759.85",368.396,305.646,200,6
23,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"50,000 - 59,999",NaN,197,"10,811.13","1,857.11",106,"8,574.19",482.282,401.803,200,7
24,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"60,000 - 74,999",NaN,230,"15,400.97","2,165.63",125,"12,574.88",727.719,543.946,200,8
25,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"75,000 - 99,999",NaN,237,"20,362.45","2,381.96",164,"16,846.58",996.887,777.642,200,9
26,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"100,000 - 199,999",NaN,369,"51,524.16","4,294.68",242,"44,298.82","2,859.51","1,888.32",200,10
27,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"200,000 - 249,999",NaN,56,"12,571.80",638.97,33,"10,727.75",719.955,403.19,200,11
28,2012,Full-Year Nonresident,Canada,Canada,Not Applicable,Not Applicable,"250,000 - 499,999",NaN,163,"56,425.84","2,170.38",86,"51,199.44","3,496.44","1,497.12",200,12
29,2012,Full-Year Nonresident,Mexico,Mexico,Not Applicable,Not Applicable,"20,000 - 29,999",d/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,209,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23705,2014,Full-Year Nonresident,Residence Unknown ++++,Residence Unknown ++++,Not Applicable,Not Applicable,"500,000 and over",NaN,"1,628","4,313,383.12","63,185.23","1,200","3,729,053.60","313,031.93","82,517.02",214,13
23706,2014,Full-Year Nonresident,Residence Unknown ++++,Residence Unknown ++++,Not Applicable,Not Applicable,Total,NaN,"34,607","5,997,389.76","332,655.78","8,232.38","5,196,779.46","404,371.28","140,029.65",214,14
23707,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","Under 5,000",NaN,"70,959","-11,194,646.19","78,870.69",4.859,"6,349.33",254.262,"-3,328.34",215,1
23708,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","5,000 - 9,999",NaN,"37,553","278,415.61","195,766.09",202.699,"59,815.95","2,393.51","1,408.80",215,2
23709,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","10,000 - 19,999",NaN,"60,093","894,232.06","452,447.66","9,831.28","345,163.33","116,832.98","15,720.08",215,3
23710,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","20,000 - 29,999",NaN,"52,417","1,305,778.74","479,998.86","18,013.97","679,928.56","30,820.48","18,026.09",215,4
23711,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","30,000 - 39,999",NaN,"48,930","1,709,520.91","499,190.64","19,300.55","1,038,005.15","51,182.48","33,548.13",215,5
23712,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","40,000 - 49,999",NaN,"46,634","2,096,476.82","521,958.96","20,237.69","1,391,160.13","72,434.18","49,674.61",215,6
23713,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","50,000 - 59,999",NaN,"43,978","2,415,806.58","530,633.50","20,769.76","1,692,699.14","91,449.26","64,899.83",215,7
23714,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","60,000 - 74,999",NaN,"59,671","4,019,822.73","805,524.23","31,440.89","2,920,913.37","162,441.65","114,102.81",215,8
23715,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","75,000 - 99,999",NaN,"83,856","7,296,698.33","1,327,540.93","54,957.47","5,470,163.33","313,046.25","212,439.78",215,9
23716,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","100,000 - 199,999",NaN,"193,251","27,531,868.87","3,977,814.91","178,014.51","21,788,667.48","1,378,079.40","831,030.01",215,10
23717,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","200,000 - 249,999",NaN,"48,349","10,789,730.36","1,135,165.58","53,138","8,943,862.31","594,901.36","320,646.55",215,11
23718,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","250,000 - 499,999",NaN,"94,546","32,766,932.64","2,375,594.28","110,668","27,773,469.22","1,879,434.34","908,008.16",215,12
23719,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident","500,000 and over",NaN,"100,262","332,967,866.71","6,303,174.09","117,484","268,824,150.21","22,543,729.41","3,618,195.31",215,13
23720,2014,Full-Year Nonresident,"Grand Total, Full-Year Nonresident",All,All - Excluding New York,"Grand Total, Full-Year Nonresident",Total,NaN,"940,499","412,878,504.17","18,683,680.40","634,063.67","340,934,347.53","27,236,999.55","6,184,371.83",215,14
23721,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","Under 5,000",NaN,"16,632","-111,102.32","28,176.12",0.348,"1,212.20",48.486,-477.905,250,1
23722,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","5,000 - 9,999",NaN,"19,424","147,512.79","113,942.53",201.316,"18,339.76",733.898,"-1,024.37",250,2
23723,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","10,000 - 19,999",NaN,"39,174","584,808.52","307,093.32","7,239.22","228,930.63","9,332.98",913.832,250,3
23724,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","20,000 - 29,999",NaN,"32,209","797,485.11","275,781.09","7,811.74","465,863.27","21,282.52","10,581.82",250,4
23725,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","30,000 - 39,999",NaN,"23,801","827,238.60","217,947.41","5,714.92","561,580.16","28,342.09","16,669.56",250,5
23726,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","40,000 - 49,999",NaN,"18,880","846,466.07","182,022.14","4,545.73","625,626.75","33,443.20","20,388.15",250,6
23727,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","50,000 - 59,999",NaN,"15,382","842,927.86","156,193.30","3,866.85","652,718.40","36,147.77","21,718.60",250,7
23728,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","60,000 - 74,999",NaN,"17,405","1,168,138.05","190,299.24","5,222","938,012.83","53,338.17","31,243.39",250,8
23729,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","75,000 - 99,999",NaN,"19,550","1,693,148.69","237,481.88","7,239.12","1,399,285.43","81,711.28","47,874.79",250,9
23730,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","100,000 - 199,999",NaN,"30,146","4,173,931.12","439,658.41","14,967.59","3,631,115.08","230,906.29","133,173.55",250,10
23731,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","200,000 - 249,999",NaN,"5,567","1,240,268.70","95,851.12","3,651","1,120,611.86","74,703.59","43,147.93",250,11
23732,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","250,000 - 499,999",NaN,"8,311","2,789,641.63","158,872.84","6,093","2,577,947.14","174,635.73","102,628.04",250,12
23733,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident","500,000 and over",NaN,"4,108","7,380,197.82","103,803.02","3,683","6,949,348.20","560,060.60","288,967.86",250,13
23734,2014,Part-Year Resident,"Grand Total, Part-Year Resident",All,All - Excluding New York,"Grand Total, Part-Year Resident",Total,NaN,"250,589","22,380,662.63","2,507,122.42","70,235.83","19,170,591.71","1,304,686.61","715,805.23",250,14

In [9]:
df2.shape

(23735, 17)

In [10]:
df2.dtypes

Tax Year                                               int64
Resident Type                                         object
Place of Residence                                    object
Country                                               object
State                                                 object
County                                                object
Income Class                                          object
Disclosure                                            object
Number of All Returns                                 object
NY AGI of All Returns (in thousands) *                object
Deductions of All Returns (in thousands)              object
Dependent Exemptions of All Returns (in thousands)    object
Taxable Income of All Returns (in thousands)          object
Tax Before Credits of All Returns (in thousands)      object
Tax Liability of All Returns (in thousands) **        object
Place of Residence Sort Order                          int64
Income Class Sort Order                                int64
dtype: object

In [11]:
df2.describe()

           Tax Year  Place of Residence Sort Order  Income Class Sort Order
count  23735.000000                   23735.000000             23735.000000
mean    2007.220645                      81.604803                 7.073773
std        4.632102                      62.110581                 3.827778
min     1999.000000                       1.000000                 1.000000
25%     2003.000000                      30.000000                 4.000000
50%     2008.000000                      59.000000                 7.000000
75%     2011.000000                     128.000000                10.000000
max     2014.000000                     250.000000                14.000000